
body {
    margin: 0px;
    padding: 0px;
    font-size: 11pt;
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(119, 119, 119);
}

#header {
    background-color: #f3f3f3;
    background-image: linear-gradient(#f9f9f9, #f3f3f3);
    background-repeat: repeat-x;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(14, 57, 112);
    padding-left: 30px;
    margin-bottom: 10px;
}

#body, #footer {
    max-width: 800px;
    margin-left: 30px;
}

#header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Tahoma, Veranda, sans-serif;
    font-size: xx-large;
}

#header #tagline {
    margin: 0px;
    margin-left: 20px;
    font-weight: bold;
}

#footer {
    text-align: center;
    font-size: 9pt;
    margin-top: 40px;
    clear: both;
}

h2 {
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    width: 25%;
    font-size: 16pt;
    color: rgb(73, 73, 73);
}

.gap {
    clear: both;
}

#messages p {
    float: left;
    width: 70%;
    margin-top: 0px;
}

@media print, screen and (max-width: 800px) {
    h2 {
        float:none;
        width: 100%;
    }
}
